html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #eff8ff;
}

#root {
  min-height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  overflow-x: hidden;
  white-space: nowrap;
  display: inline;
}

.App {
  text-align: center;
  height: 100vh;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.success {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
.login-page,
.registerPage,
.changePassword,
.deletePage,
.confirmationResults,
.RestPassword-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.login-page {
  background-image: url("../src/assets/pexels-karolina-grabowska-4047074.jpg");
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.login-page > button {
  margin-top: 0;
  cursor: grab;
  box-sizing: border-box;
  box-shadow: #282c34;
}
.login-page > div > .header {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}
.loginForm {
  box-shadow: 20px 20px 50px 10px rgb(202, 184, 184);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
}
.registerPage {
  background-image: url("../src/assets/pexels-nataliya-vaitkevich-5863397.jpg");
}
.register {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.registrationForm,
.changePassword-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}
.registrationForm {
  height: 80%;
  box-shadow: 20px 20px 50px 10px rgb(202, 184, 184);
  width: 460px;
}
.choose-role {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}
.choose-role > * {
  margin: 0 20px;
}
.changePassword {
  background-image: url("../src/assets/pexels-pavel-danilyuk-5998472.jpg");
}
.changePassword-form {
  height: 50%;
  transform: translateY(40%);
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 20px 20px 50px 10px pink inset;
}
.passwordChanged {
  box-shadow: 20px 20px 50px 10px pink inset;
  transform: translateY(200px);
  font-size: 25px;
  height: 150px;
  border-radius: 50%;
}
.passwordChanged > p {
  padding-top: 35px;
}
.results {
  transform: translateY(30vh);
  box-shadow: 20px 20px 50px 10px gray;
}
.results > button {
  box-sizing: border-box;
  margin: 10px 0;
}
.results > button:hover {
  background-color: #1e2430;
  transform: scale(1.2);
  border-radius: 50%;
}
.deletePage {
  background-image: url("../src/assets/pexels-negative-space-48603.jpg");
}
.deletePage > .secondContainer {
  transform: translateY(200px);
}
.delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirmationResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-image: url(../src/assets/pexels-thirdman-7659869.jpg);
}
.confirmationResults > button {
  box-sizing: border-box;
}
.textResults {
  text-align: center;
  font-weight: bolder;
  font-size: 26px;
}
.confirmationResults > button:active {
  transform: scale(1.2);
}
.confirmationResults > button:hover {
  transform: scale(1.2);
  background-color: #61dafb;
}
.changePassword-form > .changePassword-form {
  border: 2px solid black;
}
.registerDoctorReq {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  align-content: center;
  box-shadow: #040607;
}
.RestPassword-container {
  background-image: url("../src/assets/pexels-klaus-nielsen-6303655.jpg");
}
.forgotPassword {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.RestPassword-form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: center;
}

/* doctorsIndex */
a,
a:hover {
  display: block;
  color: inherit;
}

footer {
  width: 100%;
  height: 10vh;
}

.cardContent {
  text-align: left;
}

.cardContent h5 {
  font-size: 1rem;
  font-weight: 700;
  display: inline;
}

#header {
  font-size: 1.3rem;
  font-weight: 700;
  color: #285596;
}

.doctorsIndex,
.noResult,
.doctorShow {
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  background-color: #eff8ff;
}

header {
  width: 100%;
  height: 10vh;
}

.star-rating > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* .on {
  color: #000;
}
.off {
  color: #ccc;
} */

.editDoctorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.editDoctor {
  width: 35vw;
  min-width: 500px;
}

#editProfileHeading {
  font-size: 2rem;
  margin-bottom: 3vh;
}

.dataSubmitted {
  font-size: 1.3rem;
  margin-bottom: 3vh;
}
