/* mapbox */

.map {
  height: 70vh;
  width: 25vw;
}

.doctorShowMap {
  height: 30vh;
  width: 30vh;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 50;
  height: auto;
}
